<div class="row-100">
    <p-dataView [value]="Page?.data" layout="grid" [paginator]="true" [rows]="18" 
        [totalRecords]="Page?.count" [lazy]="true" (onLazyLoad)="loadBooks($event)">
        <ng-template let-book pTemplate="gridItem">
            <div class="p-lg-4 p-sm-6">
                <div class="book">
                    <div class="book-content">
                        <div class="book-header">
                            <span class="author">{{book.authors}}</span>
                            <h3>
                                <a [routerLink]="['/books/', book.id]">{{book.title}}</a>
                            </h3>
                        </div>
                    </div>
                    <div class="book-body">
                        <div class="book-image">
                            <a [routerLink]="['/books/', book.id]">
                                <img [src]="imageService.prepareBase64Image(book.file.image)">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>