@import "variables";

body .pi {
    font-size: 1em;
}

body .ui-button {
    background-color: $color-main-background;
}

body .ui-dialog .ui-dialog-titlebar {
    border: 1px solid $color-main-background;
    background-color: $color-main-background;
}

.ui-toast .ui-toast-summary {
    padding-top:.5em;
}

.ui-toast .ui-toast-icon {
    font-size: 1.5em;
    top: .5em;
}

.ui-toast .ui-toast-close-icon {
    font-size: .75em;
}