$blue:        #0076A3;
$darkblue:    #022933;
$offwhite:    #F9F7F7;

$color-main: $darkblue;
$color-background: $offwhite;
$color-main-background: darken($blue, 15%);

$font-main: "Open Sans", "Helvetica Neue", sans-serif;