.book-image {
    padding-top: 20px; 
    img {
        display: block;
        margin-left: auto;
        margin-right: auto 
    }
}

:host{
    ::ng-deep .ui-inputtext {
        width: 100%;
    }
}

.actions {
    margin-top: 10px;
    button {
        margin-right: 10px;
    }
}