@import "../../../../styles/variables.scss";


.book-image {
    padding-top: 20px; 
    img {
        display: block;
        margin-left: auto;
        margin-right: auto 
    }
    .actions {
        margin-top: 5px;
        padding-left: 10px;
        button {
            margin-right: 5px;
        }
    }
}
.description {
    line-height: 2.2rem;
}