@import '../../../../styles/styles.scss';

:host{
    ::ng-deep .ui-listbox {
        width: 100%;
    }
    .ui-helper-clearfix span {
        vertical-align: -webkit-baseline-middle;
    }
    input {
        width:95%;
    }
    .back {
        margin-left: 14px;
    }
}